# Example annotated build data file
mod-name: ModNameHere
package:
  include-dependencies: true  # Include dependencies in the package
  included-gamedata  # Include these gamedata-level folders in packages:
    - ReStock
  included-support:  # Include these root-level files in packages
    - readme.txt
    - changelog.txt
dependencies:  # Configure dependencies
  B9PartSwitch:
    version: 2.6.0  # The version to use
    location: s3  # Pull this from an S3 location
  CryoTanks:
    location: github
    repository: ChrisAdderley/CryoTanks
    tag: 1.1.1  # The release tag to use
  UrlMod:
    location: url
    url: http://yourUrl  # The URL of the file
    zip:  false # is this a zip or not?
deploy:
  SpaceDock:
    enabled: false  # activate/deactivate this deployment script
    mod-id: 709  # The Spacedock mod ID for deployment
  CurseForge:
    enabled: false  # activate/deactivate this deployment script
    mod-id: 230112  # The CurseForge mod ID for deployment
  GitHub:
    enabled: true  # activate/deactivate this deployment script
    branch: main # The branch to release on. Defaults to "master"
